{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <button type="button" class="btn btn-warning text-dark btn-lg btn-block mb-2"><a href="{% url 'webapp:order_add' %}">Добавить
        заказ</a></button>
    <div class="text-center"><h2>Список заказов</h2></div><br>
    <table class="table table-striped table-light">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Блюдо<span>_____________________</span></th>
            <th scope="col">Количество</th>
            <th scope="col">ТФ. номер заказчика</th>
            <th scope="col">Адрес доставки</th>
            <th scope="col">Имя клиента</th>
            <th scope="col">Оператор</th>
            <th scope="col">Статус</th>
            <th colspan="2">Выполнить действие</th>
        </tr>
        </thead>
        <tbody>
        {% for ord in order_list %}
            <tr>
                <th scope="row">{{ ord.pk }}</th>
                <td>
                    {% for c in ord.foods.all %}
                        {{ c.food }} <hr>
                    {% endfor %}
                </td>
                <td>
                    {% for c in ord.foods.all %}
                        {{ c.amount }} <hr>
                    {% endfor %}
                </td>
                <td>{{ ord.contact_phone }}</td>
                <td>{{ ord.delivery_address }}</td>
                <td>{{ ord.contact_name }}</td>
                <td>{{ ord.operator }}</td>
                <td>{{ ord.status }}</td>
                <td>
                    {% if ord.status == 'Новый' %}
                    {% elif ord.status == 'Готовиться' %}<a href="{% url 'webapp:change_status_courier_1' ord.pk %}">Взять заказ</a>
                    {% elif ord.status == 'Отменён' %}
                    {% elif ord.status == 'Доставлен' %}
                    {% else %} <a href="{% url 'webapp:change_status_courier_2' ord.pk %}">Доставить</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
