{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block content %}
    <div class="card mt-2 bg-secondary">
        <div class="card-body">
            <table class="table">
                {% for order_food in order.foods.all %}
                    <tr>
                        <th scope="row">{{ order_food.food.name }}</th>
                        <td>{{ order_food.amount }}</td>
                        <td>
                            {% if order.status == 'Новый' %}
                                <a class="" href="{% url 'webapp:order_food_delete' order_food.pk %}">
                                    <button type="submit" class="btn btn-primary">Удалить</button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <a href="{% url 'webapp:order_food_add' order.pk %}">
                    <button type="submit" class="btn btn-primary mb-2">Добавить блюдо</button>
                </a><br/>
                <a href="{% url 'webapp:order_list' %}">
                    <button type="submit" class="btn btn-primary mb-2">Завершить</button>
                </a>
            </table>
        </div>
    </div>
{% endblock %}