{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <button type="button" class="btn btn-warning text-dark btn-lg btn-block mb-2"><a href="{% url 'webapp:order_add' %}">Добавить
        заказ</a></button>
    <div class="text-center"><h2>Список заказов</h2></div><br>
    <table class="table table-striped table-light">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Блюдо<span>_____________________</span></th>
            <th scope="col">Количество</th>
            <th scope="col">ТФ. номер заказчика</th>
            <th scope="col">Адрес доставки</th>
            <th scope="col">Имя клиента</th>
            <th scope="col">Оператор</th>
            <th scope="col">Курьер</th>
            <th scope="col">Статус заказа</th>
        </tr>
        </thead>
        <tbody>
        {% for ord in order_list %}
            <tr>
                <th scope="row">{{ ord.pk }}</th>
                <td>
                    {% for c in ord.foods.all %}
                        {{ c.food }}<hr>
                    {% endfor %}
                    <div class="icons">
                        {% if ord.status != 'Отменён' and ord.status != 'Доставлен'  %}<a href="{% url 'webapp:order_update' ord.pk %}"><i class="fas fa-edit"></i></a>{% endif %}
                        {% if ord.status != 'Отменён' and ord.status != 'Доставлен'  %}<a href="{% url 'webapp:change_status' ord.pk %}"><i class="fas fa-ban"></i></a>{% endif %}
                    </div>
                </td>
                <td>
                    {% for c in ord.foods.all %}
                        {{ c.amount }}<hr>
                    {% endfor %}
                </td>
                <td>{{ ord.contact_phone }}</td>
                <td>{{ ord.delivery_address }}</td>
                <td>{{ ord.contact_name }}</td>
                <td>{{ ord.operator }}</td>
                <td>{{ ord.courier }}</td>
                <td>{{ ord.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}





