{% extends 'base.html' %}
{% block content %}
    <div class="text-center">
        <h2>Страница проверки правильности заказа</h2>
    </div>

    <div class="class">
        <h4>Адрес доставки: {{ order.delivery_address }}<br>
        Контактный телефон: {{ order.contact_phone }}<br>
        Имя клиента: {{ order.contact_name }}<br>
        Оператор, принявший заказ: {{ order.operator }}<br></h4>
    </div>
    <button type="submit" class="btn btn-warning"><a href="{% url 'order_food_add' order.pk %}">Добавить блюда к
        заказу</a></button>
{% endblock %}
